body {
    background: rgb(212, 228, 220);
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    max-width: 600px;
    position: relative;
    
  }
  
  .right-col {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
  }
  
  .item {
    position: relative;
    margin: 10px;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  a {
    position: absolute;
    bottom: 150px;
    right: 150px;
    color: #fff;
  }
  
  .title {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
  }
.parallax_1{
    background: url(img/pg1.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed; 
    padding: 40vh 0 80vh 0; 
    text-align: center; 
}
.parallax_1 h1{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 1.5px; 
    text-shadow: 2px 1px 10px rgba(1, 1, 1, 1); 
}
.parallax_2{
   background: url(img/pg2.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.content_1{
    text-align: center; 
    padding: 80px;
}
.content_1 p, .content_2 p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 830px;
    display: inline-block; 
    letter-spacing: 2px; 
    opacity: 0.8; 
    
}
.content_1 h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 25px; 
    opacity: 0.8; 
    letter-spacing: 1px;
    
}
.content_1 p{
    text-align: right; 
    text-shadow: 2px 1px 10px rgb(80, 110, 91);
}
.content_2{
    text-align: center;
    padding: 12px;
    text-shadow: 2px 1px 10px rgb(80, 110, 91);
}
.me{
   margin: 10px auto 20px;
   display: block;
    height: 400px;
    width: 400px;
}
.button {
    border: none;
    color: rgb(6, 6, 6); 
    padding: 16px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 1s; 
    cursor: pointer; 
}
.button1 {
    background-color: rgb(247, 238, 151);
}
.button1:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(79, 31, 31)
}

.button2 {
    color: rgb(21, 16, 121); 
    padding: 6px 3px; 
    text-align: center;  
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 1s; 
    cursor: pointer; 
}
.button2:hover {
    background-color: rgb(206, 216, 166);
    color: rgb(6, 6, 6)
}
.button3 {
    color: rgb(21, 16, 121); 
    padding: 6px 3px; 
    text-align: center;  
    font-size: 16px; 
    margin: 4px 2px; 
    transition-duration: 1s; 
    cursor: pointer; 
}
.button3:hover {
    background-color: rgb(156, 168, 237);
    color: rgb(6, 6, 6)
}

  
  